form .row {
    width: 100%;
    clear: both;
    margin-top: 0.5em;
}

label, .buddy {
    width: 8em;
    display: inline-block;
    text-align: right;
    font-size: 0.8em;
}

label {
    color: #bbb;
}

input, textarea {
    padding: 0.5em;
    vertical-align: top;
    width: 55em;
}

textarea {
    height: 10em;
}

input:read-only {
    color: #aaa;
    background-color: #eee;
    border: none;
}

.pid {
    text-align: center;
}

.pid a {
    font-size: 0.8em;
    color: #aaa;
}

#desc {
    height: 10em;
}

#lang {
    width: auto;
}

#submit {
    margin: 0.5em auto 1em auto;
    display: block;
    width: 4em;
    text-align: center;
    background-color: #83DA9E;
    font-size: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
}
#submit {
    padding: 0.5em 0.8em 0.5em 0.8em;
    font-size: 1.4em;
    background-color: #222;
    color: #aaa;
    border-radius: 0.5em;
    margin-top: 0.5em;
}
