//form * {
//    //width: 70%;
//    padding: 0.5em;
//    margin: 1em auto 0 auto;
//    font-family: "Courier New";
//    background-color: red;
//}

.column {
    width: 45%;
    height: 20em;
    //display: inline-block;
    float: left;
    margin: 1em;
    margin-top: 0;
}

.column * {
    display: block;
    width: 100%;
    margin: .5em;
    padding: .5em;
}

textarea {
    height: 33em;
}

#desc {
    height: 30em;
}

.testcode {
    height: 100%;
}

#submit {
    display: block;
    clear: both;
    width: 5em;
    //height: 5em;
    font-size: 1.5em;
    background-color: #87B6D2;
    border: none;
    text-align: center;
}

#submit:hover {
    background-color: #90BDD6;
}

.problem_id {
    color: #999;
    font-size: 0.8em;
    margin: 0;
    margin-top: -1.5em;
    padding: 0;
    text-align: center;
}

.invalid {
    box-shadow: 0 0 10px 2px red;
}
