a {
    color: #999;
}

.title {
    position: relative;
}

.title * {
    display: inline-block;
    margin-bottom: 0;
    float: none;
}

#edit {
    position: absolute;
    right: 0;
    bottom: 0;
}

#tags {
    position: absolute;
    top: 50%;
    margin-left: 1em;
}

#tags a {
    //background-color: #ddd;
    color: #bbb;
    border: 1px solid #bbb;
    border-radius: 0.8em;
    padding: 0.1em 0.6em;
    font-size: 0.7em;
}

#submission-state {
    font-family: Arial;
    font-size: 1.4em;
    margin-bottom: 0;
    margin-top: 0.5em;
}

.submission-detail.container {
    margin-bottom: 10em;
}

.code-manipulator {
    margin-left: 0.5em;
    float: none;
    color: #999;
    font-size: 0.8em;
}

.hidden {
    display: none;
}

.container.code-manipulator {
    margin-left: 0;
    margin-bottom: 0.4em;
}

textarea.code {
    box-sizing: border-box;
    padding: 0.6em;
}
