{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/add_problem.css') }}"/>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/add_problem.js') }}"></script>
{% endblock %}
{% block content %}
<div class="add_problem">
    <p class="problem_id">Problem ID: <span id="problem_id">{{ problem_id }}</span></p>
    <form>
        <div class="left column">
            <input id="title" class="not_empty" type="text" name="title" placeholder="Title" value="test">
            <textarea id="desc" class="not_empty" name="desc" placeholder="Description">test</textarea>
        </div>
        <div class="right column">
            <textarea id="testcases" class="not_empty" class="testcases" name="testcases" placeholder="Test Cases">test</textarea>
            <a id="submit" href="/submit-problem">Submit</a>
        </div>
    </form>
</div>
{% endblock %}
